.flex{
    display: flex;
    justify-content: space-between;
}

.block{
    height: 300px;
    width:48%;
    background-color: aqua;
    transition: .3s;
}

.block:hover{
    background-color: green;
    border-radius: 50px;
}
h1{
    font-size:32px;
}